{% extends 'base.html.twig' %}

{% block title %}Hello ExemplesModeleController!{% endblock %}

{% block body %}
{% for cle, valeur in livres %}
    <br>
    {{ valeur.titre }}
{% endfor %}
{% endblock %}
