{% extends 'base.html.twig' %}

{% block title %}Hello ExemplesModeleController!{% endblock %}

{% block body %}
{% for cle, livre in livres %}
    <br>
    {{ cle + 1 }}: {{ livre.titre }}
{% endfor %}
{% endblock %}
