{% extends 'base.html.twig' %}

{% block title %}Hello ExemplesModeleController!{% endblock %}

{% block body %}
Bonjour je suis la vue find one by
<br/>
<br/>Titre: {{livre.titre}}
<br/>Prix: {{livre.prix}}
<br/>
<br/>
{{dump(livre)}}
{% endblock %}
